In [5]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('synthetic_dataset.csv')

In [3]:
df.head()

  Category   Price    Rating         Stock  Discount
0      NaN  5548.0  1.870322           NaN       0.0
1      NaN  3045.0  4.757798           NaN      38.0
2      NaN  4004.0       NaN      In Stock       0.0
3      NaN  4808.0  1.492085           NaN      33.0
4      NaN  1817.0       NaN  Out of Stock      23.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4362 entries, 0 to 4361
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  1614 non-null   object
 1   Price     4188 non-null   float64
 2   Rating    2312 non-null   float64
 3   Stock     3010 non-null   object
 4   Discount  3970 non-null   float64
dtypes: float64(3), object(2)
memory usage: 170.5+ KB

In [7]:
# Missing Values Before Imputation
print(df.isnull().sum())

Category    2748
Price        174
Rating      2050
Stock       1352
Discount     392
dtype: int64

In [8]:
categorical_cols = df.select_dtypes(include=['object']).columns
print(categorical_cols)

Index(['Category', 'Stock'], dtype='object')

In [9]:
# Missing Category Imputation
df['Category'].fillna('Missing', inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_9120\3401134967.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Category'].fillna('Missing', inplace=True)

In [10]:
# Frequent Value (Mode) Imputation
df['Category'].fillna(df['Category'].mode()[0],inplace=True)

In [16]:
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')
df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')
df['Stock'] = pd.to_numeric(df['Stock'], errors='coerce')
df['Discount'] = pd.to_numeric(df['Discount'], errors='coerce')

In [17]:
# Numeric Imputation
df['Price'] = df['Price'].fillna(df['Price'].median())
df['Rating'] = df['Rating'].fillna(df['Rating'].median())
df['Stock'] = df['Stock'].fillna(df['Stock'].median())
df['Discount'] = df['Discount'].fillna(df['Discount'].median())

In [18]:
print(df.isnull().sum())

Category       0
Price          0
Rating         0
Stock       4362
Discount       0
dtype: int64

In [19]:
df['Stock'].unique()

array([nan])

In [20]:
df['Stock'] = pd.to_numeric(df['Stock'], errors='coerce')

In [21]:
df['Stock'].median()

nan

In [22]:
df['Stock'] = df['Stock'].fillna(df['Stock'].median())

In [23]:
print(df.isnull().sum())

Category       0
Price          0
Rating         0
Stock       4362
Discount       0
dtype: int64